@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;  /* For Webkit browsers */
  animation: animate-preloader 1s linear infinite;  /* Standard syntax */
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  

/* Set parent element of the map div to the full height of the viewport so the map in the div can be fullscreen (100% of the screen)*/
html, body {
  margin: 0;
  height: 100%;
}

/* Set the height to 100% of device */
#mapid { 
  height: 100%; 
}


/* Set custom font for app name */
#gaz {
font-family: 'Poppins', cursive, sans-serif;
font-size: 28px;
color: rgb(255, 255, 255);
}

#selectContainer {
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
  padding: 31px 0;
  text-align: center; /* Center align the container */
}

#country-select {
  width: 200px !important; /* Set the width */
  margin: 0 auto; /* Auto margins for horizontal centering */
}


/* Custom width for select element */
#colsel {
width: 40%;
}

/* Flag styling */
#flag {
box-shadow: 2px 2px 5px;
}

/* Icon styling */
#weathIcon, #mainWeathIcon {
box-shadow: 2px 2px 5px white;
}

/* Table styling for modals */
th {
text-align: center;
}

/* Popup styling */
.leaflet-popup-tip-container {
display: none;
}

.leaflet-popup {
margin: 0;
}

.nesw .leaflet-popup-tip-container {
display: block;
margin: auto;
left: auto;
}

/* Forecast popup styling */
.forecast div.leaflet-popup-content {
align-content: left;
width: auto;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
text-align: center;
width: auto;
}

/* Modal content centering */
div.modal-dialog.modal-dialog-centered {
justify-content: center;
}


div.modal-content {
align-items: center;
text-align: center;
}





/* #zoom-display {
  margin-top: 0;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-15%);
  opacity: 0.5;
  background-color: white;
  color: rgb(11, 11, 46);
  box-shadow: 0px 0px 10px rgba(100, 217, 233, 0.5);
} */







.landmark-label {
  font-size: 28px; /* Adjust the font size to your preference */
}
.close {
  color: white;
}

.close:hover {
  color: aqua;
}

