@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;  /* For Webkit browsers */
  animation: animate-preloader 1s linear infinite;  /* Standard syntax */
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  

/* Set parent element of the map div to the full height of the viewport so the map in the div can be fullscreen (100% of the screen)*/
html, body {
  margin: 0;
  height: calc(100% - 35px);
}

/* Set the height to 100% of device */
#mapid { 
  height: 100%; 
}

/* Set custom font for app name */
#gaz {
font-family: 'Poppins', cursive, sans-serif;
font-size: 28px;
color: rgb(255, 255, 255);
}

/* Custom width for select element */
#colsel {
width: 40%;
}

/* Flag styling */
#flag {
box-shadow: 2px 2px 5px;
}

/* Icon styling */
#weathIcon, #mainWeathIcon {
box-shadow: 2px 2px 5px white;
}

/* Table styling for modals */
th {
text-align: center;
}

/* Popup styling */
.leaflet-popup-tip-container {
display: none;
}

.leaflet-popup {
margin: 0;
}

.nesw .leaflet-popup-tip-container {
display: block;
margin: auto;
left: auto;
}

/* Forecast popup styling */
.forecast div.leaflet-popup-content {
align-content: left;
width: auto;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
text-align: center;
width: auto;
}

/* Modal content centering */
div.modal-dialog.modal-dialog-centered {
justify-content: center;
}


div.modal-content {
align-items: center;
text-align: center;
}

.navbar-logo {
  max-height: 60px; /* Adjust the height as needed */
  padding: 0;
}

.navbar {
  color: white;
  background-image: radial-gradient( circle farthest-corner at 85.4% 50.8%,  rgb(22, 33, 61) 0%, rgba(3,22,65,1) 74.2% );
}

#zoom-display {
  margin-top: 0;
  /* z-index: 10000; */
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-15%);
  opacity: 0.5;
  background-color: white;
  color: rgb(11, 11, 46);
  box-shadow: 0px 0px 10px rgba(100, 217, 233, 0.5);
}


#search-button {
  background-color: transparent;
  border: 2px solid #007bff; /* Adjust border properties as needed */
  color: #c4e0ff; /* Text color */
  box-shadow: 0px 0px 10px rgba(15, 81, 151, 0.5); /* Box shadow */
  text-shadow: 1px 1px 2px rgba(175, 214, 255, 0.5); /* Text shadow */
  transition: all 0.3s ease; /* Smooth transition effect */
}

/* Hover effect for the search button */
#search-button:hover {
   
  color: #fff; 
  box-shadow: 0px 0px 15px rgb(0, 0, 0); 
  text-shadow: 0px 0px 2px whitesmoke; 
}

/* Custom class for navy blue background */
.custom-navy-bg {
  /* border: solid 1px white; */
  box-shadow: 0px 0px 15px white;
  text-shadow: 0px 0px 5px white;
  background-color: #001f3f; /* Adjust this color code to match your desired navy blue shade */
  /* You can also specify other styling properties like text color, padding, etc. */
  color: rgb(255, 255, 255); /* Text color is set to white for contrast */
  padding: 10px; /* Example padding */
  border-radius: 8%;
}

.landmark-label {
  font-size: 28px; /* Adjust the font size to your preference */
}
.close {
  color: white;
}

.close:hover {
  color: aqua;
}

@media (max-width: 768px) {
  /* Adjust the max-width and height as needed for your design */
  .navbar-logo {
    max-width: 80px; /* Set the maximum width for the logo */
    height: auto; /* Allow the height to adjust proportionally */
  }
}

@media (max-width: 576px) {
  /* Further adjustments for smaller screens */
  .navbar-logo {
    max-width: 60px; /* Adjust the maximum width for smaller screens */
  }
}